# Ignore all PDF files in any directory
*.pdf 

# Common large file types
*.iso
*.tar
*.tar.gz
*.zip
*.rar
*.7z
*.dmg
*.gz
*.tgz
*.bz2
*.xz

# Large media files
*.mp4
*.mov
*.avi
*.wmv
*.flv
*.mkv
*.m4v
*.mpg
*.mpeg
*.mp3
*.wav
*.flac
*.ogv

# Large image files
*.psd
*.ai
*.tiff
*.raw
*.cr2
*.nef
*.dng

# Database files
*.sql
*.db
*.sqlite
*.rdb
*.dmp

./parametric_case_images
./*.directory
*~
